asgiref==3.11.1
Django==6.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt
django-cors-headers
mysqlclient==2.2.8
Pillow
sqlparse==0.5.5
tzdata==2025.3
openai>=1.0.0
faster-whisper>=1.1.1
razorpay>=1.4.2
