DEBUG=True

# Default local setup uses SQLite.
# Set MYSQL_NAME(db name) to switch the backend to MySQL.
MYSQL_NAME=
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
