Django==5.0.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-cloudinary-storage==0.3.0

gunicorn==21.2.0
mysqlclient==2.2.8
python-dotenv==1.2.2

requests==2.33.1
openai==2.32.0
pillow==12.2.0
cloudinary==1.44.1